
/* Add your profile image here */
.Photo{
    background-image: url('./FaceApp_1627586452471.jpg');
}
/* Projects Photo */
.project1{
    background-image: url('./task1.png');
    cursor: none;    
}
.project2{
    background-image: url('./task2.png');
    cursor: none;
}
.project3{
    background-image: url('./task3.png');
    cursor: none;
}
.project4{
    background-image: url('./task4.png');
    cursor: none;
}
.project5{
    background-image: url('./task5.png');
    cursor: none;
}
.project6{
    background-image: url('https://via.placeholder.com/400x600.png?text=Project+six');
    cursor: none;
}
/* Miscelaneous Activities photo */
.misc1{
    background-image: url('./misc1.png');
    cursor: none;
}
.misc2{
    background-image: url('./misc2.png');
    cursor: none;
}
.misc3{
    background-image: url('./misc3.png');
    cursor: none;
}